body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

  .category {
    /* ... */
    position: relative;
  }

  .dropdown{
    background-color: rgba(0,0,0,0.75);
    color: white;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 100%;
    left: 0;
}
  .dropdown {
    /* ... */
    display: none;
  }
  
  .category:hover > .dropdown {
    display: block;
  }
  .dropdown li {
    border-top: 1px solid white;
    padding: 10px;
    margin: 0;
  }
  .dropdown li {
    /* ... */
    white-space: nowrap;
  }
.categories{
    padding-left: 0px;
    padding-right: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.category{
    font-size: 1.10em;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 15px 5px 15px 5px;
    cursor: pointer;
}
.category:hover{
 background-color: rgba(0,0,0,0.65);
}
header{
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 20px;
    text-align: center;
    box-shadow: 0 4px 2px -2px rgb(0,0,0);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.dropdown> li{
    border-top: 1px solid white;
    padding: 10px;
    margin: 0;
    white-space: nowrap;
    font-size: 1em;
    letter-spacing: 0px;
    font-weight: normal;
}
.dropdown> li:hover{
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}
.pop-up-background{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 600;
    background-color: rgba(0, 0, 0, 0.45);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 2%;
}
.pop-up{
    position: fixed;
    width: 40%;
    height: 60%;
    box-sizing: border-box;
    z-index: 100;
    background-color:#dbe9e9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    border: 6px #93bebd double;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.pop-up-exit{
    font-size: 125%;
    position: absolute;
    left: 94%;
    top: -1%;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.4);
}

.pop-up-exit:hover{
    color: rgba(0, 0, 0, 0.75);
}

.pop-up-title{
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 3px;
    align-self: center;
    border-bottom: 2px white solid;
    color:      #282828;
    margin-top: 22px;
    margin-bottom: 22px;
    text-align: center;
}
.pop-up-text{
    color: #202020;
    font-size: 1em;
    margin-top: 0px;
    text-align: center;
    letter-spacing: 1px;
    padding-right: 2%;
    padding-left: 2%;
}

.pop-up-input{
    width: 50%;
    align-self: center;
    height: 15%;
    font-size: 1em;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 2%;
    padding-top: 1px;
    padding-bottom: 1px;
}

.pop-up-submit{
    align-self: center;
    width: 50%;
    height: 17%;
    background-color: rgba(0, 0, 0, 0.25);
    border: 3px white solid;
    font-size: 1em;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    outline: none;
}

.pop-up-submit:hover{
    background-color: rgba(0, 0, 0, 0.55);
}

.pop-up-later{
    align-self: center;
    text-align: center;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-weight: 200;
    font-size: 1.25em;
    color: #484848;
    cursor: pointer;
}

.pop-up-later:hover{
    color: #282828;
}
.pop-up-valid-email{
    color: red;
    margin-top: 0px;
    text-align: center;
    font-size: 1em;
}

.exit{
    display:none;
}

.title{
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}

a, .title>a{
    text-decoration: none;
    color: white;
}

.image-container{
    background-image: url(https://cdn.pixabay.com/photo/2018/02/27/03/36/spa-3184610_960_720.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
}
.advert-container{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-now{
    width: 165px;
    height: 53px;
    background-color: rgba(0, 0, 0, 0.25);
    border: 3px white solid;
    font-size: 1.15em;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    outline: none;
}
.book-advert{
    font-size: 1.25em;
    color: white;
    letter-spacing: 2px;
    z-index: 1200;
}

.book-now:hover{
    background-color: rgba(0, 0, 0, 0.55);
}

.triangle{
        border-bottom: solid 200px white;
        border-left: solid 300px transparent;
        border-right: solid 300px transparent;
        position: absolute;
        z-index: 1;
        top: 75%;
}
.rectangle{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    top: 90%;
}
#root, #root-two{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 95%;
    z-index: 10;
  }
  
  #chester {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
  }
  
  #left-arm {
    flex-basis: 30%;
  }
  
  #right-arm {
    flex-basis: 30%;
  }
  
  #torso {
    flex-grow: 2;

    display: flex;
    flex-direction: row;
  }

  .about-texts{
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      position: relative;
  }
  .about-title{
      font-size: 1.75em;
      background-color: rosybrown;
      padding: 12px;
      color: white;
      border-left: 9px solid rgb(159,95,95);
      margin-top: 0;
  }
  .about-paragraph{
      font-size: 1em;
      margin-top: 0;
  }
  .about-picture{
      max-width: 45%;
      float: left;
      border: 7px double    #B0B0B0;
      object-fit: cover;
  }
  .about-read-more{
    margin-top: 20px;
    width: 160px;
    height: 48px;
    border: 2px rgb(159,95,95) solid;
    background-color: white;
    font-size: 1.05em;
    color:  rgb(159,95,95);
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    outline: none;
    font-weight: 500;
  }
  .about-read-more:hover{
      background-color: rgb(159,95,95);
      color: white;
      transition: box-shadow 200ms ease-in-out, color 200ms ease-in-out;
  }
  .center{
      margin-top: 100px;
      margin-bottom: 100px;
      background-color:#D0D0D0;
      height: auto;
      width: 100%;
  }

  .our-services {
    font-size: 34px;
    margin: 30px;
    align-self: center;
    text-align: center;
    color:  #484848;
  }

  .cards{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
  }
  
  .card{
    width: 295px;
    height: auto;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 3px#D3D3D3 solid;
    display: flex;
    flex-direction: column;
}
 .card-picture-div{ 
     width: 100%; 
    height: 100%;
    box-sizing: border-box;
}
  #center-left-arm {
    flex-basis: 50%;
  }
  
  #center-right-arm {
    flex-basis: 50%;
  }

  .card-image{
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .card-title{
      color:#606060;
      font-size: 1.25em;
      padding-right: 10px;
      letter-spacing: 1px;
      margin: 14px;
      margin-bottom: 0px;
      padding-bottom: 10px;
      border-bottom: 1px solid #E0E0E0;
  }

  .card-text{
    padding-right: 10px;
    padding-left: 13px;
    font-size: 1em;
    color:  #606060;
  }
  .card-text-div{
    display: flex;
    align-items: center;
    flex-direction: column;
}

  .card-view{
    width: 100%;
    border: 3px #93bebd solid;
    background-color: #93bebd;
    color: white;
    font-size: 1.05em;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    outline: none;
    font-weight: 400;
    align-self: center;
    margin-top: 1%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 5px;
  }

  .card-view:hover{
    border: 3px solid #69a5a3;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .subscribe-footer {
    margin-top: 100px;
    width: 100%;
    height: 215px;
    background-color:   #787878;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-top: 5px double #A0A0A0;
    border-bottom: 5px double #A0A0A0;
  }

  .subscribe-title {
      font-size: 17pt;
      margin: 0;
      letter-spacing: 1px;
  }

  .subscribe-text{
      font-size: 1em;
  }

  .subscribe-input {
    width: 300px;
    height: 40px;
    align-self: center;
    font-size: 1em;
    color: grey;
    text-align: center;
  }
  .subscribe-submit{
      width: 25px;
      align-self: center;
      margin-top: 5px;
      width: 300px;
      height: 45px;
      border: 2px #69a5a3 solid;
      background-color:#69a5a3;
      font-size: 1em;
      color: white;
      cursor: pointer;
      text-transform: uppercase;
      letter-spacing: 2px;
      outline: none;
      font-weight: 400;
  }

  .subscribe-submit:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .footer {
    width: 100%;
    background-color:   #383838;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    line-height: 1.4;
  }

.footer-container{
    width: auto;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.footer-side{
    width: 55%;

}
.hours, .contact{
    display: inline-block;
    text-align: left;
    font-size: 11pt;
}

.footer-middle{
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding-right: 2%;
    padding-left: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer-text{
    font-size: 11pt;
    line-height: 1.25;
}

.footer-title{
    margin-top: 8px;
    margin-bottom: 0px;
}
.social-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding: 0px;
    font-size: 1em;
}

.fa-facebook, .fa-instagram, .fa-twitter{
    padding-right: 15px;
    padding-left: 15px;
    color: #B8B8B8;
    
}

.fa-facebook:hover, .fa-twitter:hover, .fa-instagram:hover{
    color: white;
}

.footer-copyright{
    margin-bottom: 1%;
    font-size: 10pt;
}

.pacifica{
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;

}

.review{
    height: 250px;
    box-sizing: border-box;
    border: 2px solid rosybrown;
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 25px 40px -20px rgba(0, 0, 0, 0.2);
}

.review-one, .review-two, .review-three{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reviews-title {
    font-size: 1.75em;
    background-color: rosybrown;
    padding: 12px;
    color: white;
    border-left: 9px solid rgb(159,95,95);
    margin-top: 0;
}
.arrows{
    float: right;
    transform: rotate(90deg);
}

.stars{
    align-self: center;
}
.fa-star{
    color: #F8De7e;
    margin-top: 10px;
    padding: 7px;
}

.empty{
    text-shadow: 0px 0px 1px goldenrod, 0px 0px 1px goldenrod;
    color: white; 
}

.up:hover, .down:hover {
    cursor: pointer;
    opacity: 1;
}

.up, .down{
    margin-right: 2px;
    font-weight: 600;
    opacity: 0.5;
    user-select: none;
}

.elementToFadeInAndOut{
    animation-timing-function: ease-in-out 1s;
}

.review-circle{
    margin-top: 30px;
    text-align: center;
    font-size: 0.75em;
    color: 		#989898;
}

.fade-in {
    animation: fadeIn ease-in 1s;
    -webkit-animation: fadeIn ease-in 1s;
    -moz-animation: fadeIn ease-in 1s;
    -o-animation: fadeIn ease-in 1s;
    -ms-animation: fadeIn ease-in 1s;
  }
  

  @keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  #menu-button{
      display: none;
  }
  @media(max-width: 1000px){
    .cards{
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 75%;
        flex-direction: row;
        margin-bottom: 20px;
    }
    .card-picture-div{
        align-self: center;
        display: flex;
    }
    .card-image{
        object-fit: cover;
        align-self: center;
    }
    .card-text-div{
        width: 60%;
    }
  }

  @media(max-width: 900px){
    .pop-up{
        width: 70%;
        height: auto;
    }
  }
  @media (max-width: 800px) {
    #menu-button{
        display: block;
        align-self: stretch;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    header{
        padding-top: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* padding: 10px; */
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        height: 60px;
    }
    .title{
        margin-top: 0px;
        padding: 10px;
    }
    nav{
        display: none;
        position: absolute;
        top: 73%;
        right: 0;
    }
    nav.open {
        display: block;
      }
    nav > ul {
        flex-direction: column;
      }
    
    nav > ul > li:active, .active {
        background-color: rgba(0,0,0,0.85);
      }
      .categories{
          display: flex;
          flex-direction: column;
          width: 100%;
          background-color: rgba(0,0,0,0.85);
      }
      .category:hover{
          background-color: rgba(0,0,0,0.5);
      }
      .category:active > .dropdown{
          display: none;
      }
      .about-picture{
          float: none;
          max-width: 100%;
      }
      #torso{
          flex-direction: column;
      }
      .about-texts{
          padding-left: 0px;
      }
      .about-title{
          margin-top: 28px;
      }

      .footer-container{
          flex-direction: column;
          align-items: center;
      }
      .review-one, .review-two, .review-three{
        flex-direction: column;
    }
    .review{
        margin-bottom: 20px;
    }
      .footer-middle{
          border-left: none;
          border-right: none;
          border-top: 1px solid white;
          border-bottom: 1px solid white;
      }
      .review-circle{
          display: none;
      }


  }

  @media (max-width: 600px) {
    .pop-up{
        width: 100%;
        height: auto;
    }
    .card-image{
        display: none;
    }
    .card-picture-div{
        display: none;
    }
    .card-text-div{
        width: 100%;
    }
    .image-container{
        width: 100%;
        height: 50vh;
    }
    .book-advert{
        display: none;
    }
    #root{
        margin-top: -200px;
    }
    .book-now{
        background-color: rgba(0, 0, 0, 0.35);
    }
    .subscribe-input, .subscribe-submit{
        width: 75%;
    }
    .triangle, .rectangle{
        display: none;
    }


}