.background-header, .background-footer{
    background-image: url("https://cdn.pixabay.com/photo/2017/06/04/18/14/marble-2371776__340.jpg");
    width: 100%;
    height: 175px;
}
.background-footer{
    height: 50px;
}
.foreground-body{
    display: flex;
    flex-direction: row;
}
.torso{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-services-cards{
    display: flex;
    flex-direction: column;
    width: 78%;
}

#root-about{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25;
  }
  

  .about-paragraph{
    line-height: 1.5;
  }
  .about-us-title-ref{
    font-weight: normal;
    font-size: 1.75em;
    background-color: #93bebd;
    padding: 12px;
    color: white;
    border-left: 9px solid #69a5a3;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.services-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 12px;
}

.link{
    color: grey;
    font-size: 1.3em;
    letter-spacing: 1px;
    padding-right: 3px;
    padding-left: 3px;
}

.link:hover{
    background-color: rgba(159,95,95, .15);
}

.card-image{
    height: 200px;
    display: inline-block;
}

.cards-first-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.service-card{
    width: 240px;
    height: fit-content;
    margin: 1%;
    margin-bottom: 30px;
    background-color: white;
    border: 1px#D3D3D3 solid;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-text-div{
    height: 100%;
}

.service-title-container{
    flex-direction: row;
    display: flex;
    width: 90%;
    justify-content: space-between;
    border-bottom: 1px solid #E0E0E0;
}
 .service-card-title{
    color:#606060;
    font-size: 1.1em;
    margin-bottom: 5px;
 }

 .service-cost{
     font-size: 1.1em;
     margin-bottom: 5px;
     color: 	#303030;
 }

 .card-buy{
    width: 100%;
    border: 3px #93bebd solid;
    background-color:#69a5a3;
    color: white;
    font-size: 1.05em;
    cursor: pointer;
    outline: none;
    align-self: center;
    margin-top: 1%;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 35px;
    padding-left: 35px;
    margin-bottom: 10px;
 }
 .card-buy:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 }

 @media(max-width: 805px){
    .service-card{
        width: 80%;
        flex-direction: row;
    }
    .card-image{
        display: inline;

    }
    .cards-first-row {
        justify-content: center;
    }
    .service-title-container{
        margin-left: 2px;
    }
    .card-picture-div{
        width: 100%;
        height: 100%;
        object-fit: cover;
        align-self: center;
    }
    .card-text-div{
        width: 100%;
    }
  .background-header, .background-footer{
      height: 100px;
  }
 }
  @media(max-width: 600px){
    .service-card{
        flex-direction: column;
        height: fit-content;
    }
    .card-image{
        display: inline-block;
    }
    .card-text-div{
        height: 100%;
    }
    .card-picture-div{
        display: inline-block;
    }
    .services-links{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
  }